.ProgramationPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100%;
    margin-top: 50px;
}

.ProgramationPanel-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: 100vh;
    width: 90%;
    max-width: 1000px;
}

.ProgramationPanel-Container-datas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;

    & a {
        width: 80%;
        max-width: 300px;
        color: #fffdfe;
        font-size: 20px;
        font-weight: 600;
        background-color: #8c182c;
        padding: 14px 20px;
        border-radius: 20px;
        transition: all ease 0.3s;
        transform: scale(1);
        cursor: pointer;
        margin-bottom: 30px;
    }

    & a:hover {
        color: #8c182c;
        transform: scale(1.05);
        background-color: #fffdfe;
        border: 1px #8c182c solid;
    }
}

.ProgramationPanel-Container-datas-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    & button {
        background-color: #8c182c;
        border-radius: 20px;
        padding: 5px 20px;
        font-size: 1.6rem;
        font-weight: 700;
        color: aliceblue;
        transition: 0.3s linear background-color;
    }
}

.ProgramationPanel-Container-datas-item-button-selected {
    & button {
        background-color: #399ba8;
    }
}

.ProgramationPanel-talktutorial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    & img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.ProgramationPanel-Container-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 30px 0px 10px 0px;
}

.ProgramationPanel-especial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #399ba8;
    padding: 30px 0px;
    width: 100%;
    border-radius: 30px;
    color: aliceblue;
    transform: scale(1);
    transition: ease-in 0.3s transform;

    & h3 {
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
    }

    & h4 {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }
}

.ProgramationPanel-especial-card:hover {
    transform: scale(1.03);
}

.ProgramationPanel-talktutorial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fdc55e;
    padding: 30px 0px;
    width: 100%;
    border-radius: 30px;
    color: rgb(0, 18, 34);
    transform: scale(1);
    transition: ease-in 0.3s transform;

    & .ProgramationPanel-talktutorial-card-all-speaker {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        align-self: self-start;

        @media (max-width: 370px) {
            flex-direction: column;
            gap: 10px;
            align-self: center;
        };
    }

    & .ProgramationPanel-talktutorial-card-speaker {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
}

.ProgramationPanel-talktutorial-card-hour {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @media (max-width: 330px) {
        flex-direction: column;
        height: 60px;
        justify-content: space-evenly;
    };
}

.ProgramationPanel-talktutorial-card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;

    width: 80%;
}

.ProgramationPanel-talktutorial-card:hover {
    transform: scale(1.03);
}