.ButaoFlutuante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;

    background-color: #399ba8;
    height: 60px;
    width: 100px;
    border-radius: 20px;

    color: aliceblue;
    font-weight: 700;

    opacity: 1;
    transition: all 0.1s ease;
}

.ButaoFlutuante.invisivel {
    opacity: 0;
    pointer-events: none;
}

.ButaoFlutuante:hover {
    background-color: aliceblue;
    color: #399ba8;

    cursor: pointer;
}

.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: start;

    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;


    height: 220px;
    width: 180px;
    padding: 20px 0px;
    border-radius: 15px;
    background-color: rgb(247, 251, 255);
    color: blue;

    opacity: 1;
    transition: all 1s ease;

    & a {
        font-size: 18px;
        font-weight: 500;
        color: rgb(140, 24, 44);
    }

    & button {
        margin-top: 10px;
        background-color: rgb(140, 24, 44);;
        color: aliceblue;
        width: 80%;
        height: 30px;
        font-weight: 700;
        padding: 2px 6px;
        border-radius: 3px;
    }

    & button:hover {
        cursor: pointer;
    }
}

.Modal.invisivel {
    opacity: 0;
    pointer-events: none;
}

.Modal_opçoes.invisivel {
    display: none;
}

.Modal_opçoes_linguagem {
    cursor: pointer;
}

.Modal_opçoes_linguagem {
    display: flex;
    flex-direction: column;
    gap: 3px;

    & h6 {
        cursor: pointer;
    }

    & h5 {
        margin-top: 6px;
    }
}

.Modal_opçoes_linguagem.invisivel {
    display: none;
}

@media (max-width : 800px) {
    .ButaoFlutuante {
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 10;
        
        background-color: #399ba8;
        height: 60px;
        width: 120px;
        border-radius: 20px;
        
        color: aliceblue;
        
        transition: all 1s ease;

        font-size: 24px;
    }
}