.Submissao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100vh - 418px);
    width: 100%;
    padding: 100px 0px 40px 0px;

    & .Submissao-h3 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
        width: 80%;
        max-width: 320px;
    }

    & .Submissao-h4 {
        font-size: 18px;
        margin-bottom: 3px;
        text-align: center;
        width: 80%;
        max-width: 466px;
    }
}

.Submissao-linha2 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 80px;
    margin: 40px;
    margin: 40px 0px 60px 0px;
}

.Submissao-linha2-esquerda {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px;
    background-color: #fdc55e;
    border-radius: 50px 30px;
    box-shadow: 7px 7px 0px 3px #820525;
    width: 85vw;
    max-width: 470px;
    height: 300px;

    & h3 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    & ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 10px;
        list-style: none;
    }
}

.Submissao-linha2-direita {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 85vw;
    max-width: 470px;
    height: 300px;
    gap: 10px;
    padding: 30px;
    background-color: #fdc55e;
    border-radius: 50px 30px;
    box-shadow: 7px 7px 0px 3px #820525;

    & h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.Submissao-linha2-direita-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2px;
}

.Submissao-linha3 {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 40px;
    max-width: 545px;
    width: 80%;
    margin-top: 40px;
}

.Submissao-linha3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 80vw;
    max-width: 250px;
    padding: 15px 5px;
    background-color: #399ba8;
    border-radius: 20px 10px;
    box-shadow: 7px 7px 0px 3px #18383c;

    color: aliceblue;
    
    & img {
        margin-bottom: 10px;
        height: 30px;
        filter: brightness(0) invert(1);
    }

    & h4 {
        text-align: center;
    }

    & p {
        margin-top: -2px;
        text-align: center;
        width: 70vw;
        max-width: 200px;
    }
}

.Submissao-linha4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 0px 0px;

    & button {
        background-color: #820525;
        color: aliceblue;
        font-size: 20px;
        font-weight: 700;
        padding: 20px 90px;
        border-radius: 30px;
        transition: all 0.5s ease-in;
    }

    & button:hover {
        background-color: aliceblue;
        color: #820525;
        font-size: 24px;
        font-weight: 900;
        padding: 18px 110px;
        border: 2px #820525 solid;
        cursor: pointer;
    }
}

@media (max-width : 1100px) {
    .Submissao-linha2 {
        flex-direction: column;
        gap: 50px;
    }

    .Submissao-linha2-esquerda {
        height: 250px;
    }
}

@media (max-width : 550px) {
    .Submissao-linha2 {
        align-items: center;
    }

    .Submissao-linha2-esquerda {
        height: auto;
    }

    .Submissao-linha2-direita {
        height: auto;
    }

    .Submissao-linha4 {
        & button {
            padding: 0px;
            height: 60px;
            width: 80vw;
            max-width: 300px;
        }

        & button:hover {
            padding: 0px;
            height: 60px;
            width: 90vw;
            max-width: 300px;
        }
    }
}